<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Algorithms Design and Analysis, Part 2/src/clustering/MaxSpacingClustering.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="clustering.MaxSpacingClustering"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/Users/yulianzhou/Desktop/course/Java/Algorithms Design and Analysis, Part 2/src/clustering/clustering1.txt&quot; 4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Algorithms Design and Analysis, Part 2"/>
</launchConfiguration>
